:root {
  --beige: #d2ac7f;
  --brown: #804b2e;
  --almost-black: #3f3e46;
  --black: #000;
  --white: #fff;
  --grey: #939393;
}

* {
  box-sizing: border-box;
  font-family: 'Tajawal';
  background-color: var(--white);
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0px;
}

/* HERO */

.hero {
  height: 559px;
}

.background-hero {
  position: relative;
  width: 100%;
  height: 559px;
  overflow: hidden;
  padding: 0px;
  margin: 0;
}

.background-hero .hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.hero,
.navbar,
.logo-mobile,
.hamburger,
h1,
h2,
.book-mobile,
.devider {
  position: absolute;
}

.book-mobile {
  width: calc(100vw);
  height: 82px;
  background-color: var(--beige);
  color: var(--brown);
  padding: 0px;
  border: none;
  margin: 0px;
  bottom: 0;
  height: 82px;
  font-size: 20px;
}

h2 {
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Bellota Text';
  font-size: 16px;
  background: transparent;
  color: var(--white);
  bottom: 230px;
  padding: 0px;
  margin: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 20px 20px 70px var(--black);
  text-align: center;
  min-width: 250px;
}

h1 {
  font-size: 38px;
  font-weight: 400;
  text-shadow: 20px 20px 70px var(--black);
  color: var(--white);
  margin: 0px;
  background: transparent;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
  bottom: 270px;
}

.devider {
  width: calc(100vw);
  height: 1px;
  background-color: var(--white);
  margin-top: 60px;
}

.logo-mobile,
.logo-mobile-svg,
.hamburger,
.hamburger-svg {
  background: transparent;
}

.logo-mobile {
  top: 12px;
  left: 20px;
}

.hamburger {
  top: 22.5px;
  right: 60px;
}

/* ABOUT */

h3 {
  font-size: 28px;
}

h5 {
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.about-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* SLIDER  */

/* FACILITY */

.facility-background {
  height: 400px;
  width: 100%;
  background-image: url(images/facility.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 200px 200px 200px 0px rgba(0, 0, 0, 0.36) inset;
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.sauna-container,
.restaurant-container,
.parking-container,
.wifi-container {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3,
h5,
.sauna-svg,
.restaurant-svg,
.parking-svg,
.wifi-svg {
  background-color: transparent;
}

.h3-facility {
  color: var(--white);
}
